<div
  class="min-w-3xl rounded-md bg-neutral-200 dark:bg-neutral-800 flex justify-between items-center px-4 sm:px-6 py-3 sm:py-4 dark:text-neutral-200 text-neutral-800 text-center not-prose mt-8 sm:mt-20"
>
  <span> Wanna contribute?</span>
  <a
    href="/contact"
    class="text-neutral-700 hover:text-neutral-500 dark:text-neutral-300 dark:hover:text-neutral-400 font-semibold dark:font-medium underline"
  >
    Leave a message
  </a>
</div>
