<div
  class="min-w-3xl rounded-md bg-neutral-100 dark:bg-neutral-800 flex justify-between items-center px-2 sm:px-4 py-2 dark:text-neutral-200 text-neutral-800 text-center not-prose mt-8 sm:mt-20"
>
  <span> Wanna contribute?</span>
  <a href="/contact" class="bg-neutral-200 hover:bg-neutral-300 dark:bg-neutral-700 dark:hover:bg-neutral-600 rounded-md py-2 px-2 sm:px-4"
    >Leave a message</a
  >
</div>
