---
import ThemeSwitcher from "./ThemeSwitcher.astro";
---

<header
  class="dark:text-neutral-200 text-neutral-800 max-w-3xl my-8 mx-auto bg-neutral-200 dark:bg-neutral-800 rounded-md p-2"
>
  <nav class="flex justify-between items-center pr-1 sm:pr-3">
    <div
      class="flex flex-row items-center gap-1 sm:gap-4 [&>*]:px-2 sm:[&>*]:px-3 [&>*]:py-1 hover:[&>*]:bg-neutral-300 hover:dark:[&>*]:bg-neutral-900 [&>*]:rounded sm:text-lg"
    >
      <a href="/">
        <span class="hidden sm:block">Speak Your Mind</span>
        <span class="sm:hidden">SYM</span>
      </a>
      <a href="/pps">
        <span class="hidden sm:block">Pseudo-Poets Society</span>
        <span class="sm:hidden">PPS</span>
      </a>
      <a href="/contact">Contact</a>
    </div>
    <ThemeSwitcher />
  </nav>
</header>
